In [2]:
import pandas as pd
import pandera as pa

In [ ]:
%pip install pandera

# Pandas core components
* Series type
* DataFrame type

In [9]:
# Array we can use for creating series
s1 : pd.Series = pd.Series([1,2,3,4,5])

s1

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [ ]:
# Set we can't use for creating series
s1 : pd.Series = pd.Series({1,2,3,4,5})

s1

In [10]:
# Tuple we can use for creating series
s1 : pd.Series = pd.Series((1,2,3,4,5))

s1

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [8]:
# Dictionary we can use for creating series
s1 : pd.Series = pd.Series({"a":10, "b":20, "c":30, "d":40, "e":50,})

s1

a    10
b    20
c    30
d    40
e    50
dtype: int64

In [14]:
values :  list[int] = [1,2,3,4,5]
index : list[str] = ['a','b','c','d','e']

s1 : pd.Series = pd.Series(values, index=index)
s1

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [17]:
values :  list[int] = [1, 2, 3, 4, 5]
index1 : list[list[str]] = [['a1','a1','a1','b1','b1'],['a','b','c','d','e']]

s1 : pd.Series = pd.Series(values, index=index1)
s1

a1  a    1
    b    2
    c    3
b1  d    4
    e    5
dtype: int64

In [18]:
values :  list[int] = [1, 2, 3, 4, 5]
index1 : list[list[str]] = [['a1','a1','a1','b1','b1'],['a','b','c','d','e']]

s1 : pd.Series = pd.Series(values, index=index1, name="Student_Data")
s1

a1  a    1
    b    2
    c    3
b1  d    4
    e    5
Name: Student_Data, dtype: int64

## DataFrame

In [22]:
s1 : pd.Series = pd.Series([1,2,3,4,5],name="student id")
s2 : pd.Series = pd.Series([10,20,30,40,50],name="score")
s3 : pd.Series = pd.Series(["Samar","Hamza","Ubaid","Abdul","Yasir"],name="student name")

df1 : pd.DataFrame = pd.DataFrame({"student id":s1,"score":s2,"student name":s3})
df1

   student id  score student name
0           1     10        Samar
1           2     20        Hamza
2           3     30        Ubaid
3           4     40        Abdul
4           5     50        Yasir

In [23]:
s1 : pd.Series = pd.Series([1,2,3,4,5],name="student id")
s2 : pd.Series = pd.Series([10,20,30,40,50],name="score")
s3 : pd.Series = pd.Series(["Samar","Hamza","Ubaid","Abdul","Yasir"],name="student name")

df1 : pd.DataFrame = pd.concat([s1,s2,s3],axis=1)
df1

   student id  score student name
0           1     10        Samar
1           2     20        Hamza
2           3     30        Ubaid
3           4     40        Abdul
4           5     50        Yasir

In [30]:
data : list[list[int]] = [[1,2,3], [4,5,6], [7,8,9]]

df : pd.DataFrame = pd.DataFrame(data, columns=["A","B","C"], index=['x','y','z'])

df

   A  B  C
x  1  2  3
y  4  5  6
z  7  8  9

## Slicing & indexing
* series_variable[index]
* dataFrame
    * loc
    * iloc
    * at
    * iat

In [31]:
s1 : pd.Series = pd.Series([1,2,3,4,5])
display(s1)
print("Applying sliding")
display(s1[1])

0    1
1    2
2    3
3    4
4    5
dtype: int64

Applying sliding

2

In [34]:
s1 : pd.Series = pd.Series([1,2,3,4,5])
display(s1)
print("Applying sliding")
display(s1.iloc[1:4])

0    1
1    2
2    3
3    4
4    5
dtype: int64

Applying sliding

1    2
2    3
3    4
dtype: int64

In [35]:
s1 : pd.Series = pd.Series([1,2,3,4,5], index=['a','b','c','d','e'])
display(s1)
print("Applying sliding")
display(s1.iloc[1:4])

a    1
b    2
c    3
d    4
e    5
dtype: int64

Applying sliding

b    2
c    3
d    4
dtype: int64

In [36]:
s1 : pd.Series = pd.Series([1,2,3,4,5], index=['a','b','c','d','e'])
display(s1)
print("Applying sliding")
display(s1.iat[1])

a    1
b    2
c    3
d    4
e    5
dtype: int64

Applying sliding

2

In [37]:
s1 : pd.Series = pd.Series([1,2,3,4,5], index=['a','b','c','d','e'])
display(s1)
print("Applying sliding")
display(s1.at['d'])

a    1
b    2
c    3
d    4
e    5
dtype: int64

Applying sliding

4