# String & F-String

In [1]:
print("name")

name

In [2]:
print(name)

NameError: name 'name' is not defined

In [3]:
name : str = "Samar Saeed"
print(name)

Samar Saeed

# String Data Type In Python

In [8]:
#  boundries
#  'string text', "string text", '''string text''', """string"""
#  string text type script
name : str = "Samar Saeed"
print(type(name))
print(name)

<class 'str'>
Samar Saeed

In [7]:
#  boundries
#  'string text', "string text", '''string text''', """string"""
#  string text type script

name : str = 'Samar Saeed'
print(type(name))
print(name)

<class 'str'>
Samar Saeed

In [10]:
message : str = 'PIAIC Student Card \n Father's Name'
print (message)

SyntaxError: unterminated string literal (detected at line 1) (1964081520.py, line 1)

In [11]:
message : str = 'PIAIC "Student Card" \n Father Name'
print (message)

PIAIC "Student Card"
 Father Name

In [12]:
message : str = 'PIAIC Student Card \n Father\'s Name'
print (message)

PIAIC Student Card
 Father's Name

In [9]:
message : str = "PIAIC Student Card \n Father's Name"
print (message)

PIAIC Student Card
 Father's Name

In [13]:
"a" + "b"

'ab'

In [18]:
#  boundries
#  'string text', "string text", '''string text''', """string"""
#  string text type script

name : str = "Samar saeed"
fname : str = "Abdul Saeed"
education : str = "Intermediate"
age : int = 18
card : str = "PIAIC Student Card\nStudent Name: " + name

print(card)

PIAIC Student Card
Student Name: Samar saeed

In [22]:
#  boundries
#  'string text', "string text", '''string text''', """string"""
#  string text type script

name : str = "Samar saeed"
fname : str = "Abdul Saeed"
education : str = "Intermediate"
age : int = 18
card : str = "PIAIC Student Card\nStudent Name: " + name + "\nage: " + age

print(card)

TypeError: can only concatenate str (not "int") to str

In [23]:
#  boundries
#  'string text', "string text", '''string text''', """string"""
#  string text type script

name : str = "Samar saeed"
fname : str = "Abdul Saeed"
education : str = "Intermediate"
age : str = "18"
card : str = "PIAIC Student Card\nStudent Name: " + name + "\nage: " + age

print(card)

PIAIC Student Card
Student Name: Samar saeed
age: 18

## Define multiline string """ """, ''' '''

In [27]:

name : str = "Samar saeed"
fname : str = "Abdul Saeed"
education : str = "Intermediate"
age : str = "18"
card : str = """ 
PIAIC Student Card
Student Name: ....
Father's Name: ....
age: ....
Education: ....
"""

print(card)

PIAIC Student Card
Student Name: ....
Father's Name: ....
age: ....
Education: ....

## F-string

In [28]:

name : str = "Samar saeed"
fname : str = "Abdul Saeed"
education : str = "Intermediate"
age : str = "18"

card : str = f""" 
PIAIC Student Card
Student Name: {name}
Father's Name: {fname}
age: {age}
Education: {education}
"""

print(card)

PIAIC Student Card
Student Name: Samar saeed
Father's Name: Abdul Saeed
age: 18
Education: Intermediate

In [29]:

name : str = "Samar saeed"
fname : str = "Abdul Saeed"
education : str = "Intermediate"
age : str = "18"

card : str = f''' 
PIAIC Student Card
Student Name: {name}
Father's Name: {fname}
age: {age}
Education: {education}
'''

print(card)

PIAIC Student Card
Student Name: Samar saeed
Father's Name: Abdul Saeed
age: 18
Education: Intermediate

In [51]:
name = "samAR SaEeD"

print(name.capitalize())
print(name.lower())
print(name.upper())
print(name.isupper())
print(name.islower())
print(name.title())
print(name.isdigit())
print(name.isnumeric())
print(name.istitle())
print(name.isprintable())

Samar saeed
samar saeed
SAMAR SAEED
False
False
Samar Saeed
False
False
False
True

In [54]:

name : str = "Samar saeed"
fname : str = "Abdul Saeed"
education : str = "Intermediate"
age : str = "18"

card : str = """ 
PIAIC Student Card
Student Name: {}
Father's Name: {}
age: {}
Education: {}
""".format(name, fname, education, age)

print(card)

PIAIC Student Card
Student Name: Samar saeed
Father's Name: Abdul Saeed
age: Intermediate
Education: 18

In [55]:

name : str = "Samar saeed"
fname : str = "Abdul Saeed"
education : str = "Intermediate"
age : str = "18"

card : str = """ 
PIAIC Student Card
Student Name: {0}
Father's Name: {1}
age: {3}
Education: {2}
""".format( name, fname, education, age )

print(card)

PIAIC Student Card
Student Name: Samar saeed
Father's Name: Abdul Saeed
age: 18
Education: Intermediate

In [57]:

name : str = "Samar saeed"
fname : str = "Abdul Saeed"
education : str = "Intermediate"
age : str = "18"

card : str = """ 
PIAIC Student Card
Student Name: {a}
Father's Name: {b}
age: {c}
Education: {d}
""".format( a=name, b=fname, c=age, d=education )

print(card)

PIAIC Student Card
Student Name: Samar saeed
Father's Name: Abdul Saeed
age: 18
Education: Intermediate

# Explore String methods & attributes

Pre-define global function we have use
* print
* type
* id
* dir
* len

In [62]:
name : str = "SaMAr SaEeD"

# variable_name.method()
print(name)
print(name.capitalize())

SaMAr SaEeD
Samar saeed

In [63]:
name : str = "SaMAr SaEeD"

# variable_name.method()
print(name)
print(name.casefold())

SaMAr SaEeD
samar saeed

In [61]:
name : str = "SaMAr SaEeD"

# variable_name.method()
print(name)
print(name.lower())

SaMAr SaEeD
samar saeed

In [67]:
name : str = "       SaMAr SaEeD       "

# variable_name.method()
display(name)
display(name.lstrip())

'       SaMAr SaEeD       '

'SaMAr SaEeD       '

In [68]:
name : str = "       SaMAr SaEeD       "

# variable_name.method()
display(name)
display(name.rstrip())

'       SaMAr SaEeD       '

'       SaMAr SaEeD'

In [69]:
name : str = "       SaMAr SaEeD       "

# variable_name.method()
display(name)
display(name.strip())

'       SaMAr SaEeD       '

'SaMAr SaEeD'

In [79]:
import re

name : str = "       SaMAr        SaEeD       "

display(name)

name1 : str = re.sub(' {2.1000}',' ', name).strip()
display(name1)

'       SaMArSaEeD       '

'SaMArSaEeD'

In [80]:
name : str = "SaMAr SaEeD"

# variable_name.method()
print(name)
print(name.title())

SaMAr SaEeD
Samar Saeed

In [81]:
name : str = "SaMAr SaEeD"

# variable_name.method()
print(name)
print(name.upper())

SaMAr SaEeD
SAMAR SAEED

In [ ]:
name : str = "SaMAr SaEeD"

# variable_name.method()
print(name)
print(name.title())