# String

In [3]:
name = "Samar"
print(name) # print
print(type(name)) # type
print(id(name)) # physical address

Samar
<class 'str'>
2637149481472

In [4]:
name : str = "Samar Saeed"
print(name)

Samar Saeed

In [5]:
name : str = 90
print(name)

90

In [6]:
name : str = "Samar"
print(name) # print
print(type(name)) # type
print(id(name)) # physical address

Samar
<class 'str'>
2637149481472

In [7]:
name : int = 1000
print(name) # print
print(type(name)) # type
print(id(name)) # physical address

1000
<class 'int'>
2637148535248

In [8]:
name : float = 10.9
print(name) # print
print(type(name)) # type
print(id(name)) # physical address

10.9
<class 'float'>
2637128714832

In [10]:
name : bool = True
print(name) # print
print(type(name)) # type
print(id(name)) # physical address

True
<class 'bool'>
140704607963856

In [9]:
name : list = ["a", "b", "c", "d",]
print(name) # print
print(type(name)) # type
print(id(name)) # physical address

['a', 'b', 'c', 'd']
<class 'list'>
2637149805824

In [12]:
name : tuple[str, int, float] = ("Pakistan", 7, 2.0)
print(name) # print
print(type(name)) # type
print(id(name)) # physical address

('Pakistan', 7, 2.0)
<class 'tuple'>
2637149834688