# List 
* iteration operation with loop
* apply any operation on element

In [1]:
names : list[str] = ["Samar", "Khan", "Saeed"]
print(names)

['Samar', 'Khan', 'Saeed']

In [3]:
names : list[str] = ["Samar", "Amir", "Saeed"]

for name in names:
    print(name)

Samar
Amir
Saeed

In [7]:
# names : list[str] = ["Samar", "Amir", "Saeed"]

for name in names:
    print(f"welcome users {name}")

welcome users Samar
welcome users Amir
welcome users Saeed

In [8]:

for name in names:
    print(f"welcome users {name}")

print("World of Code")

welcome users Samar
welcome users Amir
welcome users Saeed
World of Code

In [12]:

for name in names[2:]:
    print(f"welcome users {name}")

print("World of Code")

welcome users Saeed
World of Code

In [17]:
data_base : list[tuple[str,str]] = [("Samar", "445"), ("Ahmed", "123"), ("Shah","789")]

input_user : str = input("Enter Your Name")
input_password : str = input("Enter Your Password")


for i in data_base:
    user , password = i
    if input_user == user and input_password == password:
        print("valid user")
        break
else:
    print("not found or invalid user name")

valid user

In [23]:
names = ["samar", "ali", "shah",]

list(enumerate(names))

[(0, 'samar'), (1, 'ali'), (2, 'shah')]

In [24]:
names = ["samar", "ali", "shah",]

for i, names in enumerate(names):
    print(i , names)

0 samar
1 ali
2 shah

## Numbers with Loop
* range (start, end, step)

In [18]:
range(10)

range(0, 10)

In [19]:
list(range(10)) # starting = 0 ending = n-1

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [20]:
list(range(2,10)) # starting = 0 ending = n-1

[2, 3, 4, 5, 6, 7, 8, 9]

In [21]:
list(range(2,21,2)) # starting = 0 ending = n-1

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [22]:
for n in range(2,21,2):
    print(n)

2
4
6
8
10
12
14
16
18
20

In [25]:
for n in range(1,11):
    print(f"{2} X {n} = {n*2}")

2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
2 X 10 = 20

# List Comprehensive
```
for item in items_list:
    loop_body
```    

### Comprehensive Style
```
[loop_body for item in items_list]
```

In [26]:
list(range(1,11))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [27]:
for i in range(1,11):
    print(i**2)

1
4
9
16
25
36
49
64
81
100

In [28]:
[i**2 for i in range(1,11)]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

# Tuples

In [30]:
names : tuple[str] = ("a", "b", "c")
print(names[0])
print(names[0:2])

a
('a', 'b')

In [31]:
names : tuple[str] = ("a", "b", "c")
names[0] = "Country"

TypeError: 'tuple' object does not support item assignment

In [32]:
from typing import Any

data : tuple[Any] = ("A", [1,2,3], True)
print(data)

('A', [1, 2, 3], True)